.layout {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(rgba(255, 255, 255, 0.1),
            rgba(255, 255, 255, 0.3),
        );

}

.form {
    background-color: white;
    padding: 10px 60px;
    border-radius: 10px;
    /* border: 1px solid black */
    border: none
}

.h1 {
    color: #413A66;
    text-align: center;
}

.button {
    width: 100%;
    height: 50px;
    padding: 10px;
    border: none;
    background-color: #413A66;
    color: white;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 15px;
    margin-bottom: 30px;

}

.selectModules {
    display: flex;
    flex-direction: column;
    /* background-color: red; */
    color: white;
    font-size: 12px;
    color: gray;
    border-radius: 5px;
    padding: 5px;
    width: 280px;
    text-align: center;
    align-items: center;
    /* border: solid 1px gray; */
}


.selectInput {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    margin-top: 5px;
    padding: 8px;
    border: 1px solid gray;
    color: gray;
    cursor: pointer;
    border-radius: 5px;

}

.slec {
    color: #413A66;
    font-size: 14px;

}


.container {
    max-width: 900px;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
}