body {
    background-color: #F8F0DF;
}

.formActDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    max-width: 900px;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
}


.label {

    font-size: 17px;
    font-weight: bold;
    line-height: 1.1;
    display: grid;
    grid-template-columns: 1em auto;
    gap: 0.5em;
    color: gray;
}

.label+.label {
    margin-top: 1em;
}

#div-load {

    height: 100%;
    width: 100%;
    transition: all 1s ease;
    z-index: 15;
}

#load {
    border: 15px solid #ccc;
    border-top-color: #79B4B7;
    border-top-style: groove;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    margin: auto;
    -webkit-animation: girar 1.5s linear infinite;
    -o-animation: girar 1.5s linear infinite;
    animation: girar 1.5s linear infinite;
}

@keyframes girar {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}