.pageNumbers{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 0;
}

.pageNumbers li{
    padding: 5px;
    border: 2px solid white;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;  
}

.pageNumbers li.active{
    background-color: white;
    color: black;
}

.pageNumbers li:first-child, .pageNumbers li:last-child{
    border: none; 
}

.pageNumbers li button{
    background-color: transparent;
    border: none;
    color: white;
    font-size: 1.5;
    cursor: pointer;
    border-radius: 10px;
}

.pageNumbers li button:hover{
    background-color: white;
    color: black;
}

.pageNumbers li button:focus{
    outline: none;   
}

