.pageNumbers{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 0;
}

.pageNumbers li{
    padding: 3px;
    border: 2px solid #7165A0;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;  
}

.pageNumbers li{
    color:#A8A3B5;
}
.pageNumbers li.active{
    color:#D81B60;
}

.pageNumbers li:first-child, .pageNumbers li:last-child{
    border: none; 
}

.pageNumbers li button{
    background: none;
    border: none;
    color: #A8A3B5;
    font-size: 20px;
    cursor: pointer;
    border-radius: 5px;
}

.pageNumbers li button:hover{
    font-weight: bold;
    color: #fff;
}

.pageNumbers li button:focus{
    outline: none;  
}

