.pagination{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    gap: 5px;
    padding-left: 0;
}

.pagination .page-num{
    padding: 0px 15px;
    cursor: pointer;
    border-radius: 3px;
    font-weight: 400;
}

.pagination .page-num:hover{
    background-color: #42A5F5;
    color: #fff;
}

.pagination .active{
    background-color: #42A5F5;
}

